<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CODENAMES" %></title>

    <%= stylesheet_link_tag    "application" %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <nav class="top-bar">
        <div class="top-bar-left">
         <ul class="menu">
           <li class="menu-text">My Projects</li>
         </ul>
       </div>

        <div class="top-bar-right">
          <ul class="menu">


            <div class="top-bar-right">
              <ul class="menu">
                <%- if current_user -%>
                  <li class="menu-link"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                <%- else -%>
                  <li class="menu-link"><%= link_to 'Sign Up', new_user_registration_path %></li>
                  <li class="menu-link"><%= link_to 'Sign In', new_user_session_path %></li>
                  <li class="menu-link"><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
                <%- end -%>
              </ul>
            </div>

          </ul>
        </div>
      </nav>

    <%- flash.each do |key, value| -%>
      <div class="spacer-one"></div>
      <div class="row">
        <div class="flash flash-<%= key %>">
          <%= value %>
        </div>
      </div>
    <%- end -%>

    <% if current_user %>
      <%= current_user.email %>
    <% end %>

      <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>
  </body>
</html>
